* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------------------------------------------------*/


/*All devices and mobile phone*/
body{
	display: flex;
	flex-direction:column;
	min-height: 100vh;
	font-family: verdana;
}

header{
	background-color:#F1F1F1;
	flex: 0 0 content;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

#logo{
	flex: 0 0 11em;
	height: 3em;
	text-align: center;
	margin: 0.5em 0 0.5em 0.5em;
	box-shadow: 0.1em 0.1em 0.5em grey;
}

#bars{
	flex: 0 0 2.5em;
	height: 3em;
	text-align: center;
}

#bars i{
	line-height: 1.5em;
}

#logo>img{
	width: 100%;
}

#nav{
	flex: 1 1 100%;
	height: 0;
	background-color: #F1F1F1;
	overflow: hidden;
	transition: all 0.5s ease;
	list-style-type: none;
	margin-left: 7em;
	border: 0 #4FCEAD solid;
}

#nav.show{
	height: 10.5em;
	border: thin #4FCEAD solid;
}

#nav li{
	padding-top: 0.5em;
	height: 1.6em;
	border-bottom: thin #4FCEAD solid;
}

#nav li a{
	display: block;
	text-align: left;
	line-height: 0.5em;
	color: #4FCEAD;
	text-decoration: none;
}

#nav li:hover{
	background-color: white;
}

main{
	display: flex;
	flex-direction:column;
}
.mainImage{
	flex:0 0 31em;
	background-image: url(img/mainImage.jpg);
	background-position: 85% 90%;
}	

.about{
	background-color:#4FCEAD;
	flex:0 0 content;
}

.about>p{
	color: white;
	font-size: 1em;
	line-height: 1.1em;
	text-align: center;
	padding: 0.5em;
}

mark{
	background-color: transparent;
	font-size: 1.5em;
	color: white;
}

.services{
	display: flex;
	flex-wrap:wrap;
	background-color: #F1F1F1;
	flex:0 0 content;
	/*justify-content:space-between;*/
}

#heading{
	flex:1 0 100%;
	margin: 1em 0 0 0;
}

#heading>h1, .work>h1, .phoneNum>h1, .address>h1, .form>h1{
	font-size: 1.2em;
	text-align: center;
	color: #4FCEAD;
	font-weight: normal;
	margin-top: 1em;
}

.services div{
	flex: 1 0 40%;
}
#web{
	flex:1 0 content;
	margin: 1em 0.5em 1em 0.5em;
}

#web>a>img, #marketing>a>img, #commerse>a>img, #consult>a>img{
	width:100%;
}

#web>h1, #marketing>h1, #commerse>h1, #consult>h1{
	font-size: 0.8em;
	text-align: center;
	color: #4FCEAD;
	font-weight: normal;
}

#marketing{
	flex:1 0 content;
	margin: 1em 0.5em 1em 0em;
}

#commerse{
	flex:1 0 content;
	margin: 0 0.5em 1em 0;
}

#consult{
	flex:1 0 content;
	margin: 0 0.5em 1em 0.5em;
}

.work{
	background-color: white;
	flex:0 0 content;
	padding-bottom: 1em;
}

.work1>p, .work2>p, .work3>p{
	font-size: 1em;
	text-align: left;
	color: #4FCEAD;
	font-weight: normal;
	padding: 1.5em 0 0 0.5em;
}

#content>a>img{
	width: 90%;
	padding: 0 0 0.5em;
	margin-left: 1em;
}

#button{
	font-size: 0.8em;
	margin: 1.5em 0 0 0.5em;
	color: #4FCEAD;
	border: thin solid #4FCEAD;
	text-decoration: none;
	padding: 0.2em;
}

.contact{
	background-color: #F1F1F1;
	display: flex;
	flex-direction:column;
	flex:0 0 content;
	padding-bottom: 2em;
	text-align: center;
}

.address, .phoneNum, .form{
	background-color: white;
	flex: 1 0 20em;
	margin:2em auto 0 auto;
	width:15em;
	border: thin #4FCEAD solid;
	box-shadow: 0.2em 0 0.5em gray;
}

.address>i, .phoneNum>i, .form>i{
	color: #4FCEAD;
	padding-top: 0.3em;
}

.address>p, .phoneNum>p{
	font-size: 0.9em;
	line-height: 1.5em;
	color: gray;
}

input{
	margin-bottom: 1em;
	margin-left: 0.2em;
}

label{
	color: #4FCEAD;
}

#comment{
	width: 17em;
}

button{
	margin-top: 0.3em;
	background-color: transparent;
	border: #4FCEAD thin solid;
	color: gray;
}

footer{
	background-color: #4FCEAD;
	flex: 0 0 2em;
}

footer>div>p{
	color: white;
	font-size: 0.7em;
	text-align: center;
}

/*for phablet - inclusive*/
@media only screen and (min-width : 24em) {
/*	*{
		outline: red solid 1px;
	}
*/
	#web{
		flex:1 0 20%;
		margin: 1em 0 1em 0.5em;
	}

	#marketing{
		flex:1 0 20%;
		margin: 1em 0 1em 1em;
	}

	#commerse{
		flex:1 0 20%;
		margin: 1em 0.5em 1em 1em;
	}

	#consult{
		flex:1 0 20%;
		margin: 1em 0 1em 1em;
	}

	#content{
		display: flex;
		width: 60%; 
		min-width: 80%;	
		margin: auto;
	}

	#content>a>img{
		width: 100%;
	}

	/*#button{
		margin: 30em 0 0 0.5em;
	}*/

	/*.work1>p, .work2>p, .work3>p{
		font-size: 1em;
		text-align: left;
		color: #4FCEAD;
		font-weight: normal;
		padding: 1.5em 0 0 0.5em;
	}*/


/*for tablet - inclusive*/
@media only screen and (min-width : 44em) {

	#bars{
		display: none;
	}
	#nav{
		flex:0 0 66%;
		height: 3em;
		display: flex;
		min-width: 15em;
		margin-left: 0em;
		justify-content:flex-end;
		border: none;
	}

	/**{
		outline: blue solid 1px;
	}*/

	#nav li{
		padding-top: 0;
		height: 2em;
		margin: auto 0 auto 2em;
	}

	#nav li a{
		text-align: center;
		line-height: 1em;
	}	

	#content>p{
		color: gray;
		width: 30%;
		margin-left: 1.6em;
	}

	.services{
		justify-content:space-between;
	}

	#web, #marketing, #commerse, #consult{
		max-width: 17%;
	}

	#content{
		justify-content:center;
	}

	.work{
		display: flex;
		flex-direction:column;
	}

	#content>a>img{
		width: 100%;
	}

	.contact{
		display: flex;
		flex-direction:row;
		flex:0 0 content;
	}

	.address, .phoneNum, .form{
		flex: 1 0 20%;
		margin:2em 2em 0 0;
	}

	.address{
		margin-left: 2em;
	}

	#comment{
		width: 10em;
	}

}


/*for destop - inclusive*/
@media only screen and (min-width : 64em) {

	*{
		outline: green solid 1px;
	}

}